<app-menu></app-menu>
<ion-content id="agecan-main-content">
  <h1>Carrito de compras</h1>
  <div *ngIf="cart.items.length==0">
    <h1>No tienes elementos en el carrito de compras.</h1>
  </div>
  <ion-grid *ngIf="cart.items.length>0">
    <ion-row>
      <ion-col>Producto</ion-col>
      <ion-col>Cantidad</ion-col>
      <ion-col>Precio</ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row  *ngFor="let item of cart.items; index as i">
      <ion-col><strong>{{item.type}}</strong></ion-col>
      <ion-col>{{item.quantity}}</ion-col>
      <ion-col>{{item.price | currency }}</ion-col>
      <ion-col><ion-button (click)="removeFromCart(i)"><i class="fa fa-trash"></i></ion-button></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col><strong>Total</strong></ion-col>
      <ion-col><strong>{{cart.total() | currency }}</strong></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <br/>
        <p>Por favor transfiera o consigne este valor a la siguiente cuenta:</p>
        <ul>
          <li>Cuenta de ahorros Bancolombia No. 46147299231</li>
          <li>Titular: Rodrigo Sabbie</li>
          <li>C.C. 79.941.123</li>  
        </ul>
        <p>Si puede realizar la transferencia en línea, por favor anexe el comprobante aquí:</p>
        <input type="file" name="fileUpload" id="fileUpload" />
        <p>De lo contrario, envíe posteriormente el comrpobante a <strong>contacto&#64;agendacanina.co</strong> o al Whatsapp +57 3142452458</p>
        <p>Una vez confirmado el pago habilitaremos la programación de las sesiones en esta página</p>  
        <br/>              
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-button (click)="checkout()">Confirmar compra</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
