<app-menu></app-menu>
<ion-content id="agecan-main-content">
  <div *ngIf="isReady">
  <ion-grid *ngIf="!isLoggedIn()">
    <ion-row>
      <ion-col size="12">
        <br/>
        <div>Para programar sesiones debes <strong><a href="/login" style="color: var(--ion-color-primary);">ingresar</a></strong> con tu usuario y contraseña. Si no tienes cuenta, puedes registrarte</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="isLoggedIn()">
    <ion-row>
      <ion-col size="12">
        <div>Hola, {{ user?.name }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="pendingPayment>0">
      <ion-col size="12">
        <div>Tienes {{ pendingPayment | currency }} pendientes de confirmación de pago. Si ya pagaste y no has enviado el comprobante, por favor envíalo a <strong>rodrigosabbie&#64;gmail.com</strong> o al Whatsapp +57 3142452458</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="numSesionesDisponibles==0">
      <ion-col size="12">
        <div>No tienes sesiones disponibles. Debes adquirir al menos una para programar una sesión.</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="numSesionesDisponibles>0">
      <ion-col size="4">
        <div>Tienes {{ sesionesDisponibles() }} para programar.</div>
      </ion-col>
      <ion-col size="4">
        <ion-button (click)="programarSesion()" expand="full">Programar sesión</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <form>
          <ion-item>
            <ion-input label="No. de sesiones:" type="number" placeholder="Escribe el No. de sesiones o usa flechas a la derecha" [(ngModel)]="numSesiones" name="numSesiones" (ionInput)="calcularPrecio()" min="0" max="10"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Precio:" type="text" [value]="formatoPrecio(precio)" readonly></ion-input>
          </ion-item>
          <ion-button (click)="agregarACarrito()" expand="full">Agregar al carrito</ion-button>
        </form>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorMessage">
      <ion-col size="12">
        <br/>
        <div style="color: red">{{ errorMessage }}</div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="cart.sessions()>0">
      <ion-col size="12">
        <br/>
        <div>Tienes {{ numeroSesiones() }} en el carrito de compras. Puedes confirmar la compra <a href="/carrito">aquí</a></div>
      </ion-col>
    </ion-row>
  </ion-grid>
  </div>
</ion-content>
