ion-toolbar {
  margin-left: auto;
  margin-right: auto;
}

.show-menu-button {
  display: block;
}

.hide-menu-button {
  display: none;
}

@media (min-width: 860px) {
    .show-menu-button {
      display: none;
    }
    .hide-menu-button {
      display: block;
    }
}
