<ion-menu side="end" contentId="agecan-main-content"> <!-- Add the menu component -->
  <ion-content class="ion-padding">
    <ion-menu-toggle>
      <ion-list class="menu-items">
        <ion-item href="/paquetes">
          Programa tu sesión
        </ion-item>
        <ion-item href="/home#about">
          Quiénes somos
        </ion-item>
        <ion-item href="/home#quehacemos">
          Qué hacemos
        </ion-item>
        <ion-item href="/productos">
          Productos
        </ion-item>
        <ion-item href="/home#contacto">
          Contáctanos
        </ion-item>
        <ion-item *ngIf="isLoggedIn()" href="/carrito">
          <i class="fa fa-cart-shopping" aria-hidden="true"></i>
          <span *ngIf="itemCount()>0" class="item-count">&nbsp;{{ itemCount() }}</span>
        </ion-item>
        <ion-item *ngIf="!isLoggedIn()" href="/login">
          Ingresar
        </ion-item>
        <ion-item *ngIf="isLoggedIn()" (click)="logout()">
          Salir
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
  </ion-content>  
</ion-menu>
<ion-header>
  <ion-toolbar>
    <ion-title [style.align-items]="'center'">
      <a class="ac-navbar-brand" href="home">
        <img src="assets/images/logo.png" width="50px" />
      </a>
    </ion-title>
    <ion-buttons slot="end" class="show-menu-button">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end" class="hide-menu-button">
      <ion-button href="/paquetes">
        Programa tu sesión
      </ion-button>
      <ion-button href="/home#about">
        Quiénes somos
      </ion-button>
      <ion-button href="/home#quehacemos">
        Qué hacemos
      </ion-button>
      <ion-button href="/productos">
        Productos
      </ion-button>
      <ion-button href="/home#contacto">
        Contáctanos
      </ion-button>
      <ion-button *ngIf="isLoggedIn()" href="/carrito">
        <i class="fa fa-cart-shopping" aria-hidden="true"></i>
        <span *ngIf="itemCount()>0" class="item-count">&nbsp;{{ itemCount() }}</span>
      </ion-button>
      <ion-button *ngIf="!isLoggedIn()" href="/login">
        Ingresar
      </ion-button>
      <ion-button *ngIf="isLoggedIn()" (click)="logout()">
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  
