.home {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.main {
  width: 90%;
  position: absolute;
}

.parallax-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.home-image {
  height: 40vw;
  background-image: url(../../assets/images/about/home.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.transbox {
  background-color: rgba(10, 31, 116, 0.4);
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ajusta esto según sea necesario */
}

#start h1 {
  font-weight: bold;
  font-size: 4.5vw;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#start h2 {
  font-weight: bold;
  font-size: 3vw;
}

div.transbox .home-functions {
  font-weight: bold;
  font-size: 2vw;
}

div.transbox .home-functions a {
  padding: 0.8vw;
  border-radius: 5px;
  font-weight: bold;
  background: var(--ion-color-primary);
  color: white;
  text-decoration: none;
}

.center-container {
  text-align: center;
}

.justified-container {
  text-align: justify;
  vertical-align: top;
}

#about {
  background-color: white;
  z-index: 2;
  position: relative;
}

#about h2 {
  font-size: 2vw;
  margin-bottom: 3vw;
  color: #636a82;
  font-weight: 500;
}

#about p {
  padding: 10%;
  font-size: 1.8vw;
}

.profile-image {
  width: 100%;
  margin-top: 5vw;
}

#quehacemos {
  background-color: #f7f7f7;
  padding: 50px 0;
}

#quehacemos p {
  font-size: 1.5vw;
  line-height: 1.5;
  margin-bottom: 3vw;
}

#quehacemos ion-row {
  align-items: flex-start;
}

#quehacemos ion-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#quehacemos ion-col h2 {
  font-size: 2vw;
  margin-bottom: 2.5vw;
  color: #636a82;
  font-weight: 500;
}

#quehacemos ion-col h3 {
  font-size: 1.8vw;
  margin-bottom: 1vw;
}

#quehacemos ion-col .timeline {
  display: flex;
  align-items: center;
  padding: 2px 0 2px;
}

#quehacemos ion-col p {
  font-size: 1.2vw;
  line-height: 1.5;
  margin-bottom: 2vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: justify;
}

#contacto ion-col {
  text-align: left;
}

#contacto h2 {
  font-size: 2vw;
  margin-bottom: 3vw;
  color: #636a82;
  font-weight: 500;
}

#contacto ion-col h3 {
  font-size: 1.8vw;
  display: block;
  margin: 0;
  color: #636a82;
  font-weight: 500;
  line-height: 1.5;
}

#contacto ion-col h4 {
  font-size: 1.2vw;
  display: block;
  margin: 0;
  color: #636a82;
  font-weight: 300;
  line-height: 1.5;
}

#contacto ion-col ul {
  display: flex;
  list-style: none;
  padding: 0;
}

#contacto ion-col li {
  padding-right: 2vw;
}

span.single-timeline-horizontal {
  display: inline-block;
  height: 1px;
  background: black;
  width: 22vw;
}

.fa-circle {
  font-size: 1.5vw;
}

@media (max-width: 768px) {
  #about p {
    padding: 10%;
    font-size: 3vw;
  }

  #about h2 {
    font-size: 3vw;
  }
  #quehacemos ion-col h2 {
    font-size: 3vw;
  }

  #quehacemos ion-col h3 {
    font-size: 2.5vw;
  }
  
  #quehacemos ion-col p {
    font-size: 2.5vw;
  }

  .profile-image {
    width: 60%;
    margin-top: 0;
  }

  #contacto h2 {
    font-size: 3vw;
  }  

  #contacto ion-col h3 {
    font-size: 2.5vw;
  }

  #contacto ion-col h4 {
    font-size: 2vw;
  }

  #contacto ion-item {
    font-size: 2vw;
  }

  #contacto ion-button {
    font-size: 2.5vw;
  }
}
